server="matrix.localhost.org"
token="QGV4YW1wbGU6bG9jYWxob3N0.vRDLTgxefmKWQEtgGd"
room_id="!asfLdzLnOdGRkdPZWu:localhost.org"
dir=~/Pictures/matrix
watch=false
timeout=60s
cwebp_convert=false
cwebp_add_args=(-preset drawing -quiet -noalpha -qrange 70 95 -size 25000 -mt -pass 10 -m 6)
curl_add_args=(--connect-timeout 30 --max-time 60 --socks5-hostname='127.0.0.1:9050')
move_to=~/Pictures/archive
